<main class="container">
  <h1 class="py-4 text-center"><%- event.title %></h1>
  <section class="row">
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <article class="bg-warning">
        <img src="<%- event.eventPicture %>" alt="<%- event.title %>">
        <h3><%- event.title %></h3>
        <p><%- event.description %></p>
        <div>
          <% if (canEnlist) { %>
            <a href="/events/<%- event.id %>/addGuest" class="btn btn-dark text-white">Enlist</a>
          <% } %>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <aside class="bg-secondary">
        <h3>Host</h3>
        <img src="<%- host.profilePic %>" alt="<%- host.username %>">
        <p><%- host.name %></p>
        <p><%- host.username %></p>
      </aside>
    </div>
  </section>
</main>
