<main class="container" style="min-height:92.25vh;">
  <section class="row">
    <% events.forEach(event => { %>
      <article class="col-12 border border-4 border-dark mb-2 p-2 bg-light">
        <div class="row">
          <div class="col-2 d-flex justify-content-center align-items-center">
            <img src="<%- event.eventPicture %>"
              alt="<%- event.host.username %>" class="img-fluid img-thumbnail mt-4 mb-2"
              style="width:150px; height:150px;">
          </div>
          <div class="col-10 d-flex align-items-center" style="background-color:#DDD;">
            <div class="row w-100">
              <div class="col-10">
                <h3><%- event.title %></h3>
                <a href="/profile/<%- event.host.username %>" class="fw-bold"><%- event.host.username %></a>
                <% if(event.isHost) { %>
                  <span class="badge bg-dark">You are the Host :)</span>
                <% } else { %>
                  <% if(event.isEnlisted) { %>
                    <span class="border border-2 border-dark badge text-black" style="background-color:#F3F3F3;">Already Enlisted</span>
                  <% } else { %>
                    <span class="border border-2 border-dark badge text-black" style="background-color:#CCC;">Not Enlisted yet</span>
                  <% } %>
                <% } %>
                <p><%- event.description %></p>
                <p><%- event.realization %></p>
              </div>
              <div class="col-2 d-flex justify-content-center align-items-center">
                <a href="/events/view-details/<%- event.idEvent %>" class="btn btn-dark">View details</a>
              </div>
            </div>
          </div>
        </div>
      </article>
    <% }) %>
  </section>
</main>