<main class="container d-flex justify-content-center align-items-center" style="min-height:92.25vh;">
  <div class="row">
    <section class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <img class="d-inline-block img-fluid rounded w-75" src="/img/signup_banner.gif" alt="SignUp">
    </section>
    <section class="col-12 col-md-6 d-flex justify-content-center align-items-center">
      <div class="row w-75">
        <h2 class="fs-1 text-center fw-bold mb-4">SignUp</h2>
        <form action="/auth/signup" method="POST" enctype="multipart/form-data">
          <input class="form-control mb-3" type="text" name="name" placeholder="Name" value="<% if (typeof(user) !== "undefined") { %><%- user.name %><% } %>">
          <input class="form-control mb-3" type="text" name="username" placeholder="Username" value="<% if (typeof(user) !== "undefined") { %><%- user.username %><% } %>">
          <input class="form-control mb-3" type="email" name="email" placeholder="Email" value="<% if (typeof(user) !== "undefined") { %><%- user.email %><% } %>">
          <input class="form-control mb-3" type="date" name="birthday" value="<% if (typeof(user) !== "undefined") { %><%- user.birthday %><% } %>">
          <input class="form-control mb-3" type="file" name="profilePic">
          <input class="form-control mb-3" type="password" name="password" placeholder="Password">
          <input class="form-control mb-3" type="password" name="passwordRepeated" placeholder="Repeat Password">
          <div class="form-group d-flex justify-content-center align-items-center">
            <input class="btn btn-primary w-100" type="submit" value="SignUp">
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
<%- include("./components/authError") %> 